---
# Default Kibana configuration from kibana-docker.

server.name: kibana
server.host: "0"
elasticsearch.url: http://elasticsearch:9200
{% if image_flavor != 'oss' -%}
xpack.monitoring.ui.container.elasticsearch.enabled: true
{% endif -%}
